<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">
    <link rel="stylesheet" href="{%  static 'base/css/nav-bar.css'%}">
</head>
<body>
<div class="nav-bar">
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'list-client' %}">List</a>
    <a href="{% url 'status' %}">Status</a>
    <a href="{% url 'secure' %}">Owner</a>
    <a>About Us</a>
</div>

{% block content %}
{% endblock %}
</body>
</html>